:root {
  --black: #1e1738;
  --blue: #162f35;
  --white: #ffffff;
  --pink: #fcd2cd;
  --purple: #bdb7d5;
  --purple2: #7f62f3;
  --gray: #787a7d;
  --gray2: #f1f1f2;
  --lightGray: #aab9c5;
  --lightGray2: #6c6c83;
  --grayText: #6C6F75;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 120%;
  scroll-behavior: smooth;
  scroll-margin-top: 40px;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
  font-family: var(--InterTight);
}

html {
  font-size: 62.5%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

body {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: var(--black);
  font-family: var(--InterTight);
}

h1 {
  font-size: 5.6rem;
  line-height: 1.2em;
  font-weight: 600;
}

h2 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2em;
}

h3 {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 120%;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -0.04em;
}

h6 {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -0.04em;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

p,
input,
textarea {
  hyphens: auto;
  font-size: 1.6rem;
  line-height: 1.6em;
}

input:focus,
textarea:focus {
  outline: none;
}

/* .toastFont {
  font-family: var(--ABCSocialLight);
} */

/* ::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

::selection {
  background: var(--secondary);
}
::-moz-selection {
  background: var(--secondary);
} */

@media screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }

  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 4rem;
  }

  p {
    font-size: 113.7%;
  }
}

@media screen and (max-width: 568px) {
  html {
    font-size: 50%;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.4rem;
  }
}

/* .toastFont {
} */

/* Only use in production */
/* @media screen and (max-width: 480px) {
  h1 {
    letter-spacing: -1.5px;
  }
  h2 {
    letter-spacing: -1px;
    line-height: 120%;
  }
} */
