.top {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1rem;
  width: 100%;
  grid-template-areas: 
    "found found found found . waste stock";
}

/* Assign grid areas to wrapper divs */
.foundationsArea {
  grid-area: found;
}

.wasteArea {
  grid-area: waste;
}

.stockArea {
  grid-area: stock;
}
