.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.slider {
  width: 100%;
  overflow: hidden;
  user-select: none;
  z-index: 999;
  border-top: 1px solid var(--blue);
  border-bottom: 1px solid var(--blue);
  padding: 1rem 0rem;
  background-color: var(--tan);
  cursor: pointer;
}

.track {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: scroll 60s linear infinite;
  gap: 2rem;
}

.arrayItems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slider:hover .track {
  animation-play-state: paused !important;
}
