.container {
  padding: 6rem 5rem;
  padding-bottom: 10rem;
  background-color: transparent;
  /* border-left: 1px solid var(--lightBlack);
  border-right: 1px solid var(--lightBlack); */
}

@media screen and (max-width: 870px) {
  .container {
    padding: 8rem 3rem;
  }
}

@media screen and (max-width: 568px) {
  .container {
    padding: 7rem 2rem;
  }
}
