.icon {
  width: 4rem;
  height: 4rem;
}

.faceUpCardContainer {
  position: relative;
  width: 100%;
  height: 260px;
  border: 1px solid var(--blue);
  border-radius: 8px;
  padding: 1rem;
  background-color: var(--tan);
}

.rankStrSuitSymContainer,
.rankStrSuitSymContainer2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.rankStr,
.suitSymSmall {
  display: block;
}

.rankStr {
  font-size: 5rem;
  font-weight: 600;
  line-height: 0.7;
  user-select: none;
}

.suitSymSmall {
  font-size: 3rem;
}

.suitSymLarge {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
